*,
*::after,
*::before {
	margin: 0;
	padding:0;
	box-sizing: inherit;
}

html {
	// defines what 1rem equals
	font-size: 62.5%; //62% default font size usualls 16px
}

body {
	box-sizing: border-box;
}